<p>
  <strong>内容:</strong>
  <%= @diary.content %>
</p>

<p>
  <strong>日付:</strong>
  <%= @diary.date %>
</p>


<%= link_to '編集', edit_diary_path(@diary) %> |
<%= link_to '削除', @diary, method: :delete, data: { confirm: '本当に削除しますか？'} %>
<%= link_to '一覧に戻る', diaries_path %>
